    <header>
        <h1>Tinyapp</h1>
    </header>

    <body>

        <% if (typeof(user_id)  == "undefined"){%>
            <form method="POST" action="/login">
                Username: <input type="text" name="username">
                <input type="submit" value="Log In">
            </form>

        <%} else {%>
        
            <h1>Welcome <%= users[users_id]%></h1>
            <form method="POST" action="/logout">
                <input type="submit" value="Log Out">
            </form>
        <%}%>

    </body>
    
</html>
