    <header>
        <h1>Tinyapp</h1>
    </header>

    <body>
        <% if (typeof(user)  == "undefined"){%>
            <a href="/login">Login</a>
        <%}%>
        <% if (typeof(user)  == "undefined"){%>
            <a href="/register">Register</a>

        <%} else {%>
        
            <h1>Welcome <%= user.email%></h1>
            <form method="POST" action="/logout">
                <input type="submit" value="Log Out">
            </form>
        <%}%>

    </body>
    
</html>

<!-- <form method="POST" action="/login">
    Username: <input type="text" name="username">
    <input type="submit" value="Log In">
</form> -->