<html lang = "eng">
    
    <head>
        <title>
            Tinyapp
        </title>
    </head>
    <body>
        <table>
<!--
property represents the keys in URLdatabase, urls is the database
-->
        <% for(let property in urls){ %>
            <tr>
                <td><%= property %></td>
                <td>><%= urls[property] %></td>
                <form method="POST" action="/urls/<%=property%>/delete">
                    <td><button type="submit">Delete</button></td>
                </form>
            </tr>

        </form>
       <% } %>
        
       </table>
    </body>
</html>


