<html lang = "eng">
    <head>
        <title>
            Tinyapp
        </title>
        
    </head>
    <body>
        <%- include partials/_header.ejs%>
        <h1><%= shortURL%></h1>
        <h1><%= longURL%></h1>      
       
    </body>
</html>
